<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="https://img2.freepng.es/20180627/etu/kisspng-computer-icons-computer-programming-user-interface-browser-icon-5b336e98497711.6057089715300973043009.jpg">
      </ion-avatar>
      <ion-label>Programacion</ion-label>
      <ion-checkbox slot="end" (click)="openToast('Ha seleccionado Programacion')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://www.flaticon.es/svg/static/icons/svg/1420/1420398.svg">
      </ion-avatar>
      <ion-label>Bases de Datos</ion-label>
      <ion-checkbox slot="end" (click)="openToast('Ha seleccionado Bases de Datos')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://jamj2000.github.io/entornosdesarrollo/entornosdesarrollo.png">
      </ion-avatar>
      <ion-label>Entornos de desarrollo</ion-label>
      <ion-checkbox slot="end" (click)="openToast('Ha seleccionado Entornos de desarrollo')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://img2.freepng.es/20180425/rse/kisspng-html-computer-icons-5ae0b5fc133303.8575417015246760920787.jpg">
      </ion-avatar>
      <ion-label>Lenguajes de Marcas</ion-label>
      <ion-checkbox slot="end" (click)="openToast('Ha seleccionado Lenguajes de Marcas')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://previews.123rf.com/images/magurok/magurok1404/magurok140400152/27381834-vector-unidad-del-sistema-inform%C3%A1tico-y-el-icono-del-monitor.jpg">
      </ion-avatar>
      <ion-label>Sistemas Informaticos</ion-label>
      <ion-checkbox slot="end" (click)="openToast('Ha seleccionado Sistemas Informaticos')"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="https://folinloveblog.files.wordpress.com/2019/01/cropped-logos-fol-e-idiomas-01.png">
      </ion-avatar>
      <ion-label>Formacion y Orientacion Laboral</ion-label>
      <ion-checkbox slot="end" (click)="openToast('Ha seleccionado Formacion y Orientacion Laboral')"></ion-checkbox>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
